/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

/* Common */

.clear{
    clear: both;
}

.text-color{
    color: #ffff; !important
}
.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width:33.33333% ;
}

.col-second{
    width:50% ;
}

/* Main */
#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}
#nav li{
    
    position: relative;
}

#nav > li:hover > a, #nav .subnav li:hover a{
    background-color: #cccc;
    color: #000;
}

#nav > li > a{
    color: #ffff;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
    
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon{
    color: #ffff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;


}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #ffff;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content{
    
}

#content .content-section{
    width: 800px;
    max-width: 100%;  
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    /* chu nghieng */
    font-style: italic; 
    opacity: 0.6; 
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;
}



#content .member-name{
    font-size: 15px;
    
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/* Tour section */
.tour-section{
    background-color: #000;;
}


.tickets-list{
    background-color: #ffff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li{
    color: #757575;
   font-size: 15px; 
   padding: 11px 16px;
   border-bottom: 1px solid #ddd;

}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #ffff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Places */

.places-list{
    margin-top: 32px;
    
    padding-bottom: 48px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #ffff;
    font-size: 15px;
    padding: 16px;
}
.place-heading{
    font-size: 15px;
    font-weight: 550;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-tickets{
    background-color: #000;
    color: #ffff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;

}
.place-buy-tickets:hover{
    background-color: #cccc;
    color: black;
}
#footer{

}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal-container{
    background: #ffff;
    width: 900px;
    max-width: calc(100% -32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #ffff;
    padding: 10px;
    cursor: pointer;

}
.modal-close:hover{
    background: #cccc;
    color: #000;
}
.modal-body{
    padding: 16px;
    
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal-input{
    border: 1px solid #cccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
.buy-tickets{
    background: #009688 ;
    width: 100%;
    height: 55px;
}
#buy-tickets {
    background: #009688;
    width: 100%;
    height: 54px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
#buy-tickets:hover{
    background: #cccc;
    color: #000;
}

.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a{
    color: #2196F3;
    
}
.modal-help{
    padding: 10px;
}

#content .content-section{
    padding-bottom: 200px;
}

#content .section-heading{
    font-size: 30px;
}
#content .section-sub-heading{
    font-size: 15px;
}
#content .section-info{
    font-size: 18px;
    float: left;
    width: 50%;
    line-height: 1.4;
    
}
#content .input-name, .input-mail{
    font-size: 15px;
    height: 40px;
    width: 194px;
    
}
#content .section-contact{
    margin-top: 32px;
}
#content .input-message{
    display: block;
    font-size: 15px;
    height: 40px;
    width: 394px;
    margin-top: 8px;
}
#content .section-send{
    margin-top: 8px;
    float: right;
    display: block;
    background-color: #000;
    color: #fff;
    margin-right: 6px;
    width: 71px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
#content .section-send:hover{
    background-color: #cccc;
    color: #000;
}

.footer-end {
    padding: 64px 16px;
    text-align: center;
   
}
#footer .tks-footer{
    margin-top: 15px;
    font-size: 15px;
    color: #808080;
}
#footer .tks-footer a{
    color: #808080;
}
#footer .icon-footer i{
    color: #666666;
    font-size: 20px;
}


#footer .footer-img img{
    width: 100%;
}


@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

